/* Página general */

.login-page {
  display: flex;
  height: 100vh;
  font-family: 'Fredoka', sans-serif;
}

/* Imagen del lado izquierdo */
.login-image {
  flex: 1;
  background: url('../assets/img/loginFondoClaro.jpg') center center / cover no-repeat;
  position: relative;
}

.signup-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 7px 40px;
  font-size: 24px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.3); /* Blanco con 50% de transparencia */
  border: 2px solid #ffffff;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Fredoka', sans-serif;
  font-weight: 200;
}
 

.signup-button:hover {
  color: #1585c2;
  background: rgba(255, 255, 255, 0.7);
  transform: scale(1.1); /* Pequeño aumento de tamaño */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  font-weight: 500;
}
/* Contenedor del formulario */
.login-form-container {
  flex: 1;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}

/* Selector de idioma */
.language-toggle {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.language-icon {
  margin-right: 10px;
}

.language-label {
  font-weight: bold;
}

/* Logo */
.logo img {
  width: 8rem;
}

/* Título de bienvenida */
.welcome-title {
  font-size: 36px;
  font-weight: lighter;
  margin-top: 1px;

}
/* Título de bienvenida */
.welcome-title-nudo{
  font-size: 40px;
  font-weight: 500;
  margin: 0px;
}

/* Estilo del formulario */
.login-form {
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
  font-size: 24px;
}

.form-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 24px;
  font-family:'Fredoka', sans-serif;
}

.form-input:focus {
  border-color: #000;
  outline: none;
}

/* Enlace para contraseña olvidada */
.forgot-password-link {
  text-align: right;
  font-size: 18px;
  color: #007ec3;
  margin-bottom: 50px;
  text-decoration: none;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

/* Botón de login */
.login-button {
  padding: 10px 60px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Fredoka', sans-serif;
}

.login-button:hover {
  color: #ffffff;
  background: rgb(0, 0, 0);
  transform: scale(1.1); /* Pequeño aumento de tamaño */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.81);
  font-weight: 500;
}

/* Texto debajo del botón */
.signup-text {
  margin-top: 20px;
  font-size: 18px;
}

.signup-text a {
  color: #007ec3;
  text-decoration: none;
  font-weight: 500;
}

.signup-text a:hover {
  text-decoration: underline;
}
